{% extends 'backComp.html.twig' %}

{% block title %}[Admin] Tournoi{% endblock %}

{% block main %}
    <body>

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Tournois</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Admin</a></li>
                    <li class="breadcrumb-item active">Tournois</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->



        <!-- Recent Sales -->
        <div class="col-12">
            <div class="card recent-sales overflow-auto">



                <div class="card-body">
                    <h5 class="card-title">Tournois</h5>
                    {% block form %}
                        <a href="{{ path('add_tournoi') }}" class="btn btn-primary">Créer Tournoi</a>
                    {% endblock %}
                    <table class="table datatable table-striped table-hover">
                        <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Date</th>
                            <th scope="col">Nombre equipes</th>
                            <th scope="col">Nombre Terrains</th>
                            <th scope="col">Etat</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for t in tournois %}
                            <tr>
                                <th scope="row"><a href="{{ path('read_tournoi',{'id':t.id}) }}">{{ t.id }}</a></th>
                                <td>{{ t.name }}</td>
                                <td>{{ t.Date|date("d M y") }}</td>
                                <td>{{ t.NbrEquipe }} équipes de {{ t.NbrJequipe }}</td>
                                <td>{{ t.nbrTerrains }}</td>
                                <td>
                                    {% if t.etat == "Ouvert" %}
                                        <span class="badge bg-success">{{ t.etat }}</span>
                                    {% elseif t.etat == "Privée" %}
                                        <span class="badge bg-warning">{{ t.etat }}</span>
                                    {% else %}
                                        <span class="badge bg-danger">{{ t.etat }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <button  type="button" class="btn btn-warning">
                                        <a style="color: #fff" href="{{ path('tournoi_edit',{'id':t.id}) }}">Modifier</a>
                                    </button>
                                    <button type="button" class="btn btn-danger">
                                        <a style="color: #fff" href="{{ path('tournoi_delete',{'id':t.id}) }}">Supprimer</a>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>


                </div>

            </div>
        </div><!-- End Recent Sales -->




    </main><!-- End #main -->

    </body>
{% endblock %}
