{% extends "tournoi/index.html.twig" %}

{% block form %}
    <div class="container-fluid">
    {{ form_start(f) }}

    <div class="form-group">
        {{ form_label(f.name)}}:
        {{ form_widget(f.name, {'attr': {'class': 'form-control'} }) }}
        {{ form_errors(f.name) }}


        {{ form_label(f.date)}}:
        {{ form_widget(f.date, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(f.date) }}

        {{ form_label(f.nbr_equipe)}}:
        {{ form_widget(f.nbr_equipe, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(f.nbr_equipe) }}

        {{ form_label(f.nbr_Jequipe)}}:
        {{ form_widget(f.nbr_Jequipe, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(f.nbr_Jequipe) }}

        {{ form_label(f.nbrTerrains)}}:
        {{ form_widget(f.nbrTerrains, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(f.nbrTerrains) }}

        {{ form_label(f.etat)}}:
        {{ form_widget(f.etat, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(f.etat) }}
    </div>
    <div style="hidden=">
        {{ form_widget(f._token) }}
    </div>
    <div class="form-group d-flex mt-4">
        <button  class="btn btn-primary">{{ button_label|default('Modifier') }}</button>
    </div>
{% endblock %}